[Desktop Entry]
Type=Application
Name=LCT (@@NAMESPACE@@)
GenericName=LCT
Comment=LCT packaged build (@@NAMESPACE@@)
Exec=env -u ELECTRON_RUN_AS_NODE OD_PACKAGED_NAMESPACE=@@NAMESPACE@@ @@EXEC_PATH@@ --appimage-extract-and-run %U
Icon=@@ICON_PATH@@
Categories=Development;Utility;
StartupWMClass=LCT
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/od;
